.calibraciones-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.calibraciones-form {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

.form-button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}